.Modal {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  height: 80%;
  width: 48%;
  top: 12%;
  left: 26%;
  position: fixed;
  z-index: 400;
  border: 2px solid #312c2c;
  box-shadow: 2px 4px 3px #433d3d;
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .Modal {
    height: 40% !important;
    top: 3% !important;
  }
}

@media only screen and (device-width: 1366px) and (device-height: 1024px) {
  .Modal {
    height: 58% !important;
    top: 2% !important;
    left: 27% !important;
  }
}

@media only screen and (device-width: 768px) and (device-width: 1024px) and (orientation: portrait) {
  .Modal {
    height: 57%;
    font-size: 22px;
    left: 26%;
    top: 2%;
  }
}

@media only screen and (device-width: 768px) and (device-width: 1024px) and (orientation: landscape) {
  .Modal {
    font-size: 22px;
    top: 0%;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  .Modal {
    height: 70%;
    width: 70%;
    left: 15%;
    top: 4%;
    font-size: 20px;
  }
  .Modal img {
    height: 100px !important;
  }
}

@media only screen and (device-width: 812px) and (device-height: 375px) {
  .Modal {
    font-size: 18px;
    height: 93%;
    width: 70%;
    left: 15%;
    top: 4%;
  }
  .Modal img {
    height: 80px !important;
  }
}

/* iphone 12 mini */
@media only screen and (device-width: 360px) and (device-height: 780px) {
  .Modal {
    font-size: 20px !important;
    height: 74% !important;
    width: 70% !important;
    left: 14% !important;
    top: 3% !important;
  }
  .Modal img {
    height: 100px !important;
  }
}

@media only screen and (device-height: 360px) and (device-width: 780px) {
  .Modal {
    font-size: 20px;
    height: 85%;
    width: 65%;
    top: 5%;
    left: 18%;
  }
  .Modal img {
    height: 75px !important;
  }
}
